@model MyHabits.Models.Habit

@{
    ViewData["Title"] = "Создание";
}



<div class="text-center container center">
    <h1>Создай новую привычку</h1>

    <form asp-action="Create" class="container center">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">В чем заключается новая привычка?</label><br>
            <input asp-for="Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input class="button" type="submit" value="Создать!" style="margin:auto" asp-controller="home" asp-action="Create">
            <a asp-action="Index" class="button">Назад</a>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
