@model IEnumerable<MyHabits.Models.Habit>

@{
    ViewData["Title"] = "Отметить выполнение";
}

<h1>Отметить выполнение</h1>

<p>
    <a asp-action="Create">Создать привычку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Выбирите привычку, которую выполнили</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                        <a asp-action="RegisterAction" asp-route-id="@item.Id">@item._name</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
