html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button{
    color:green;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
    width: 400px;
}

td {
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black
}

.pos_btn {
    color:green;
}

.neg_btn {
    color:red;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}