@model MyHabits.Models.Habit

@{
    ViewData["Title"] = "Создание";
}

<h1>Создай новую привычку</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_name" class="control-label">В чем заключается новая привычка?</label>
                <input asp-for="_name" class="form-control" />
                <span asp-validation-for="_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_date_of_start" class="control-label">Выбери дату начала!</label>
                <input asp-for="_date_of_start" class="form-control" />
                <span asp-validation-for="_date_of_start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="pos_btn" type="submit" value="Создать!" style="margin:auto" asp-controller="home" asp-action="Create">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color:red; margin:auto">Отмена</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
