@model MyHabits.Models.Habit

@{
    ViewData["Title"] = "Создание";
}



<div class="center">
    <h1>Создай новую привычку</h1>
    <div class="col-md-4">
        <form asp-action="Create" class="container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_name">В чем заключается новая привычка?</label>
                <input asp-for="_name"/>
                <span asp-validation-for="_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="pos_btn" type="submit" value="Создать!" style="margin:auto" asp-controller="home" asp-action="Create">
            </div>
        </form>
    </div>
</div>

<div class="button">
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
