@model IEnumerable<HabitModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome!</h1>
    
        <ul class='hr'>
            <li><asp:Button id="mon_redirect" runa>Понедельник</li>
            <li>Вторник</li>
            <li>Среда</li>
            <li>Четверг</li>
            <li>Пятница</li>
            <li>Суббота</li>
            <li>Воскресение</li>
        </ul>
</div>
